<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kototo.task.mapper.OrderInfoMapper">

    <select id="selectScheduleByReserveDate" resultType="orderInfo">
        select * from order_info
        where reserve_date = #{dataString}
    </select>
</mapper>